@import "tailwindcss";

html {
  @apply bg-stone-950 font-[450] text-stone-50;
  /* background-color: #292524; */
  font-family: "PP Neue Montreal", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto;
}

@theme {
  --color-primary: #f3c614;
}
