@import "tailwindcss";

html {
  @apply bg-stone-950;
  /* background-color: #292524; */
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto;
}

@theme {
  --color-primary: #f3c614;
}
